 .pacotes{
    display: flex;
    justify-content: space-evenly; 
    
    padding: 10px;

    position: relative;
    margin-bottom: 14px;
    
        
}     

.pacote{
    width: 300px;
    font-size: 20px;
    background-color: rgba(6, 16, 65, 1);
    padding: 40px;
   color: white;
    justify-content: space-between;
    height: 406px;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;


    
}

.pacote h2{
 font-size: 25px;
 justify-content: center;
 align-items: center; 
 margin-bottom: 30px;

}

.botao{

    display: flex;
    position: absolute;
    bottom: 22px;
    margin-left: 11px;
    
}







  